.box{
    width: 250px;
    height: 250px;
    border-radius: 100px;
    animation:der 6s ease-out infinite;
}

@keyframes der{
    from{
       background-color: pink; 
    }
    to{
        background-color: purple;
    }
}