.all{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    box-shadow:0 4px 8px rgba(0,0,0.1) ;


}
.card img{ 
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.card-content{
    padding: 15px;
    text-align: center;
}

.card-content h2{
    color: #333;
}

.card-content p{
    color: #666;
}

button{
    background-color: rgb(236, 61, 7);
    height: 30px;
    border-radius: 20px;
    width: 200px;
    border: none;
    color: white;
}

button:hover{
    color: aqua;
    font-size: 15px;
    cursor: pointer;
}

.asd{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.lorem{
    font-size: 25px;
    font-weight: 500;
    width: 800px;
    background:orangered ;
    color: white;
    border-radius: 20px;
}